# ignore every files in ./rom

rom/*

# ignore every file contained in notes.
# notes contains information I researched in order to build
# the emulator

notes/*

# ignores every file in the build directory

build/*

# ignore every file in src/test but the .cpp files

src/test/*
!src/test/*.cpp
